/node_modules
/public/hot
/public/storage
/storage/*.key

/public/css/admin/admin.css
/public/css/front/front.css
/public/js/admin/admin.js
/public/js/front/front.js
/public/plugins
/public/storage
/public/mix-manifest.json

/vendor

.env
package-lock.json
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
