@use '../abstracts' as a;
@use '../abstracts/_media_queries' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

:root{
}

main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

    }

    h1 {

    }
    h2 {
        font-size: 28px;
        margin-bottom: 20px;

        @include screen-size(lg) {
            font-size: 42px;
        }
    }
    h3 {

    }
    h4 {

    }
    h5 {

    }
    h6 {

    }

    p {
        color: #333;
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 40px;
        word-spacing: 2px;

        @include screen-size(md) {
            font-size: 16px;
        }

        @include screen-size(lg) {
            font-size: 18px;
        }
    }

    .main-container,
    .sub-container,
    .primary-container,
    .secondary-container {
        background: var(--clr-white-100);
        padding-top: 50px;
        padding-bottom: 35px;

        img {
            box-shadow: 3px 3px 6px 0 rgba(147, 127, 201, 0.2);
            border-radius: 15px;
        }

        @include screen-size(sm) {
            padding-top: 65px;
            padding-bottom: 50px;
        }

        @include screen-size(lg) {
            padding-top: 100px;
            padding-bottom: 65px;
        }
    }

    .main-container {
        h3 {

            &:after {
                background: var(--clr-primary-300);
                content: '';
                border-radius: 3px;
                display: block;
                height: 4px;
                margin: 8px 0 15px;
                width: 75px;
            }
        }

        .btn {
            display: inline-flex;
            justify-content: center;
            width: 120px;
        }

        .contact {
            .form-group {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 14px;
                    font-weight: 900;
                    margin-bottom: 5px;
                }

                input,
                textarea {
                    @include hoverTransition(var(--tr-time), var(--ts-ease));

                    border: 1px solid #CCC;
                    border-radius: 5px;
                    font-size: 14px;
                    margin-bottom: 25px;
                    padding: 10px 15px;

                    &:focus {
                        border-color: var(--clr-primary-300);
                    }
                }

                textarea {
                    height: 200px;
                    resize: none;
                }
            }
        }
    }
    .home-container {
        padding-bottom: 125px;

        @include screen-size(sm) {
            padding-bottom: 175px;
        }

        @include screen-size(md) {
            padding-bottom: 200px;
        }

        @include screen-size(lg) {
            padding-bottom: 250px;
        }
    }

    .sub-container {
        background: var(--clr-white-200);
    }

    .stream-container {
        padding-bottom: 350px;
    }

    .primary-container {
        background: var(--clr-primary-300);
        padding-top: 0;

        @include screen-size(md) {
            padding-bottom: 100px;
        }
    }

    .secondary-container {
        background: var(--clr-secondary-300);
        padding-bottom: 100px;

        > div {
            margin-top: -350px;
        }
    }
}
