@use '../abstracts' as a;
@use '../abstracts/_media_queries' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

:root{
}

main {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

    }

    h1 {

    }
    h2 {
        font-size: 28px;
        margin-bottom: 20px;

        @include screen-size(lg) {
            font-size: 42px;
        }
    }
    h3 {

    }
    h4 {

    }
    h5 {

    }
    h6 {

    }

    p {
        color: var(--clr-black-500);
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 40px;
        word-spacing: 2px;
    }

    aside {
        section {
            width: 100%;

            &.widget {
                background: #FBFBFD;
                margin-top: 30px;
                padding: 30px;

                &:first-child {
                    margin-top: 0 !important;
                }

                .widget-title {
                    border-bottom: 1px solid var(--clr-white-200);
                    padding-bottom: 7px;
                    margin-bottom: 20px;
                    text-align: center;

                    h3 {
                        font-size: 16px;
                        line-height: 1.24;
                        margin-bottom: 0;
                    }
                }

                .widget-content {
                    ul.social-media {
                        display: flex;
                        justify-content: center;

                        li {
                            margin: 5px;

                            a {

                                svg {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    ul {
                        li {
                            color: var(--clr-black-500);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 25px;
                            word-spacing: 2px;
                        }
                    }
                }
            }
        }
    }

    .main-container,
    .sub-container {
        background: var(--clr-white-100);
        padding-top: 50px;
        padding-bottom: 35px;

        @include screen-size(sm) {
            padding-top: 65px;
            padding-bottom: 50px;
        }

        @include screen-size(lg) {
            padding-top: 80px;
            padding-bottom: 65px;
        }
    }

    .sub-container {
        background: var(--clr-white-200);
    }
}
