@use '../../abstracts/mixins' as *;

:root {
    // Mobile variables.
    --nav-height: 80px;
    --nav-brand-height: 70px;
    --nav-brand-width: auto;
    --nav-sub-padding: 15px;
}

.front-layouts-navigation-Desktop {
    background: var(--clr-white-100);
    box-shadow: var(--shadow-primary);
    height: var(--nav-height);

    a {
        &.brand-logo {
            //padding-left: 18px;

            figure {
                img {
                    height: var(--nav-brand-height);
                    width: var(--nav-brand-width);
                }
            }
        }
    }

    nav {
        > ul {
            align-items: center;
            display: flex;
            height: 100%;

            > li {
                @include hoverTransition(.25s, ease-in);

                font-family: var(--ff-head);
                font-size: 1rem;
                margin: 0 5px;

                &:after {
                    border-radius: 20px 20px 0 0;
                }

                &:hover {
                    > a {
                        color: var(--clr-primary-300);
                    }
                }

                a {
                    @include hoverTransition(.25s, ease-in);

                    align-items: center;
                    border-radius: 5px;
                    color: var(--clr-primary-300);
                    font-size: var(--fs-base);
                    height: 100%;
                    padding: 10px 15px;
                    z-index: 1;

                    &.active,
                    &:hover {
                        background: var(--clr-secondary-300);
                        color: var(--clr-white-100);
                    }

                    &.active {
                        &:after {
                            width: 100% !important;
                        }
                    }
                }

                ul {
                    @include hoverTransition(.25s, ease-in);

                    background: var(--clr-white-100);
                    border-radius: 0 0 10px 10px;
                    box-shadow: var(--shadow-primary);
                    flex-direction: column;
                    opacity: 0;
                    position: absolute;
                        top: calc(var(--nav-height));
                    min-width: 240px;
                    padding: var(--nav-sub-padding) var(--nav-sub-padding) 0 var(--nav-sub-padding);

                    &:before {
                        background: var(--clr-white-100);
                        content: '';
                        height: 5px;
                        margin-top: -20px;
                        position: relative;
                            left: -10px;
                        width: calc(100% + (var(--nav-sub-padding) * 2));
                    }

                    li {
                        padding: 10px;

                        a {
                            @include hoverTransition(.25s, ease-in);

                            &:after {
                                background: transparent !important;
                            }
                        }

                        > ul {
                            border-radius: 15px;
                            opacity: 0 !important;
                            padding-top: 5px;
                                top: 30px;
                                left: 180px;
                            z-index: 2;
                        }

                        &:hover {
                            ul {
                                opacity: 1 !important;
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .social-media {
        align-items: center;
        justify-content: flex-end;

        li {
            margin-left: 10px;
        }
    }
}
