$colors: (
    primary: (
        100: hsl(196, 69%, 40%),
        200: hsl(196, 69%, 30%),
        300: hsl(196, 69%, 16%),
        400: hsl(196, 69%, 10%),
        500: hsl(196, 69%, 5%)
    ),
    secondary: (
        100: hsl(19, 84%, 80%),
        200: hsl(19, 84%, 70%),
        300: hsl(19, 84%, 54%),
        400: hsl(19, 84%, 40%),
        500: hsl(19, 84%, 30%)
    ),
    white: (
        100: hsl(0, 0%, 100%),
        200: hsl(216, 20%, 95%),
        300: hsl(216, 20%, 69%),
        400: hsl(216, 20%, 50%),
        500: hsl(216, 20%, 40%)
    ),
    grey: (
        100: hsl(220, 7%, 100%),
        200: hsl(220, 7%, 90%),
        300: hsl(220, 7%, 82%),
        400: hsl(220, 7%, 70%),
        500: hsl(220, 7%, 60%)
    ),
    black: (
        100: hsl(0, 0%, 53%),
        150: hsl(220, 3%, 41%),
        200: hsl(0, 0%, 40%),
        300: hsl(0, 0%, 30%),
        400: hsl(0, 0%, 20%),
        500: hsl(0, 0%, 10%),
        600: hsl(0, 0%, 5%),
        700: hsl(0, 0%, 0%)
    ),
);
