@use '../abstracts' as a;
@use '../abstracts/_media_queries' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

:root{

}

.components-page-Slider {
    margin-bottom: -5px;

    .slick-slider {
        height: 100% !important;

        .slick-list {

            .slick-track {

                .slick-slide {

                    .slide {

                        .meta {
                            padding: 0 5%;
                            position: absolute;
                                top: 70%;
                            transform: translateY(-70%);
                            text-align: center;

                            @include screen-size(sm) {
                                padding: 0 10%;
                                    top: 50%;
                                transform: translateY(-50%);
                            }

                            @include screen-size(lg) {
                                padding: 0 20%;
                            }

                            h3 {
                                color: var(--clr-white-100);
                                font-size: 20px;
                                line-height: 125%;
                                margin-bottom: 15px;
                                text-shadow: 2px 2px 1px rgba(0,0,0,0.3);

                                @include screen-size(sm) {
                                    font-size: 28px;
                                }

                                @include screen-size(lg) {
                                    font-size: 40px;
                                }
                            }
                            p {
                                color: var(--clr-white-100);
                                font-family: var(--ff-fbase);
                                font-size: 14px;
                                line-height: 20px;
                                text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
                                word-spacing: 3px;

                                @include screen-size(sm) {
                                    font-size: 18px;
                                    line-height: 25px;
                                }

                                @include screen-size(lg) {
                                    font-size: 20px;
                                    line-height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .slick-dots {
            bottom: 55px;

            li {
                border: 2px solid var(--clr-white-100);
                border-radius: 100%;
                background: var(--clr-primary-300);

                &.slick-active {
                    background: var(--clr-secondary-300);
                }
            }
        }
    }
}
