@use '../abstracts/mixins' as *;

:root {
    --sm-size:  40px;
}

.social-media {
    display: flex;
    flex-direction: row;
    width: 100%;

    li {
        a {
            align-items: center;
            color: var(--clr-primary-300);
            display: flex;
            justify-content: center;
            font-size: 24px;
            height: var(--sm-size);
            line-height: var(--sm-size);
            position: relative;
            transition: all .3s;

            &:hover {
                color: var(--clr-secondary-200);
            }
        }
    }
}
