:root {
}
// Auth pages.
.components-auth-Layout {
    .auth-side-wrapper {
        height: 100%;
        background-position: center center;
        background-size: cover;
        width: auto;
    }
    .alert {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
            }
        }
    }
    .auth-form-wrapper {
        .noble-ui-logo {
            figure {
                img {
                    height: auto;
                    width: 60% !important;
                }
            }
        }
    }
}
